.container {
  width: 100%;
  overflow: hidden;
}
.one {
  width: 50%;
  float:left; /* add this */
  padding-left:50px;
  padding-right:50px;

}
.two {
  width: 50%;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  padding-right:50px;
}